[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.2"
django-registration = "*"
pytz = "*"
matplotlib = "*"
mysqlclient = "*"
btcde = "*"
xlwt = "*"

[dev-packages]
