{% extends 'base.html' %}

{% block content %}
<div class="form-box">
<form method="POST" class="post-form" action="/transactions/update/{{transaction.id}}">
		{% csrf_token %}
	<div class="container">
<br>
{% if form.errors %}
	{% for field in form %}
		{% for error in field.errors %}
			<div class="alert alert-danger">
				<strong>{{field.name}}: {{ error|escape }}</strong>
			</div>
		{% endfor %}
	{% endfor %}
	{% for error in form.non_field_errors %}
		<div class="alert alert-danger">
			<strong>{{ error|escape }}</strong>
		</div>
	{% endfor %}
{% endif %}

	<div class="form-group row">
	<label class="col-sm-1 col-form-label"></label>
	<div class="col-sm-4">
	<h3>Update Transaction</h3>
	</div>
	</div>

	<div class="form-group row">
	<label class="col-sm-2 col-form-label">Crypto Currency:</label>
	<div class="col-sm-4">
		<input type="text" name="crypto_currency" id="id_crypto_currency" required maxlength="10" value="{{ transaction.crypto_currency }}"/> 
	</div>
	</div>

	<div class="form-group row">
	<label class="col-sm-2 col-form-label">Amount before fee:</label>
	<div class="col-sm-4">
		<input type="decimal" name="amount_before_fee" id="id_amount_before_fee" required value="{{ transaction.amount_before_fee }}"/> 
	</div>
	</div>

	<div class="form-group row">
	<label class="col-sm-2 col-form-label">Amount after fee:</label>
	<div class="col-sm-4">
		<input type="decimal" name="amount_after_fee" id="id_amount_after_fee" required value="{{ transaction.amount_after_fee }}"/> 
	</div>
	</div>

	<div class="form-group row">
	<label class="col-sm-2 col-form-label">Exchange Rate:</label>
	<div class="col-sm-4">
		<input type="decimal" name="exchange_rate" id="id_exchange_rate" required value="{{ transaction.exchange_rate }}"/> 
	</div>
	</div>

	<div class="form-group row">
	<label class="col-sm-2 col-form-label">Fiat Currency:</label>
	<div class="col-sm-4">
		<input type="text" name="fiat_currency" id="id_fiat_currency" required maxlength="10" value="{{ transaction.fiat_currency }}"/> 
	</div>
	</div>

	<div class="form-group row">
	<label class="col-sm-2 col-form-label">Fiat Amount:</label>
	<div class="col-sm-4">
		<input type="decimal" name="amount" id="id_amount" required value="{{ transaction.amount }}"/> 
	</div>
	</div>

	<div class="form-group row">
	<label class="col-sm-2 col-form-label">Date valid:</label>
	<div class="col-sm-4">
		<input type="text" name="date_valid" id="id_date_valid" required value="{{ transaction.date_valid|date:'Y-m-d H:i:s'  }}"/> 
	</div>
	</div>

	<div class="form-group row">
	<label class="col-sm-1 col-form-label"></label>
	<div class="col-sm-4">
	<button type="submit" class="btn btn-success">Update</button>
	</div>
	</div>

	</div>
</form>
</div>
{% endblock %}
