{% extends 'base.html' %}

{% block content %}
<div class="form-box">
  <h2>Monitor</h2>
  <a href="/monitor" class="button button-primary">Refresh</a><br/>
  <p>Hint: these numbers are not very accurate.</p>
  
{% for c in cryptos %}
  <input type="checkbox" id="acc{{ c.crypto }}" />
  <label for="acc{{ c.crypto }}">
    {{ c.crypto }}
    {% if c.rateEUR %}{{c.rateEUR|floatformat:0}} EUR{% endif %}
    {% if c.rateUSD %}{{c.rateUSD|floatformat:0}} USD{% endif %}
  </label>

  <div class="content">
    {% if c.bought %}
    We have bought {{ c.crypto }} for {{ c.bought|floatformat:2 }} EUR<br/>
    {% endif %}
    {% if c.sold %}
    We have sold {{ c.crypto }} for {{ c.sold|floatformat:2 }} EUR<br/>
    {% endif %}
    {% if c.amount_kept %}
    Current value of our {{ c.amount_kept|floatformat:3 }} {{ c.crypto }} is {{ c.current_value|floatformat:2 }} EUR<br/>
    {% endif %}
    {% if c.bought_recently %}
    We have bought within the last 12 months:  {{ c.bought_recently|floatformat:3 }} {{ c.crypto }}<br/>
    {% endif %}
    {% if c.bought_tax_free %}
    We can sell without paying taxes: {{ c.bought_tax_free|floatformat:3 }} {{ c.crypto }} for {{ c.value_tax_free|floatformat:2 }} EUR<br/>
    {% endif %}
    <br/><a href="/transactions/show?crypto={{ c.crypto }}">My transactions</a><br/>

    {% if c.rates %}
      <table>
        {% for r in c.rates %}
        <tr>
            <td>{{ r.dateRelative }}</td>
            <td>{{ r.date|date:'Y-m-d' }}</td>
            <td>{{ r.rateEUR|floatformat:0 }} EUR/{{ c.crypto }}</td>
            <td>{% if r.diffPercentage %}
                {{ r.diffPercentage|floatformat:1 }}%
                {% endif %}
            </td>
        </tr>
        {% endfor %}
      </table>

      <ul class="tab-nav">
          <li>
            <a class="button active" href="#h48{{ c.crypto }}">48 hours</a>
          </li>
          <li>
            <a class="button" href="#d3{{ c.crypto }}">3 days</a>
          </li>
          <li>
            <a class="button" href="#w1{{ c.crypto }}">1 week</a>
          </li>
          <li>
            <a class="button" href="#m1{{ c.crypto }}">1 month</a>
          </li>
          <li>
            <a class="button" href="#m6{{ c.crypto }}">6 months</a>
          </li>
          <li>
            <a class="button" href="#y1{{ c.crypto }}">1 year</a>
          </li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="h48{{ c.crypto }}">
              48 hours
              <img src="/graph?crypto={{ c.crypto }}&fiat=EUR&number_of_hours=48" loading="lazy">
          </div>
          <div class="tab-pane" id="d3{{ c.crypto }}">
              3 days
              <img src="/graph?crypto={{ c.crypto }}&fiat=EUR&number_of_days=3" loading="lazy">
          </div>
          <div class="tab-pane" id="w1{{ c.crypto }}">
              1 week
              <img src="/graph?crypto={{ c.crypto }}&fiat=EUR&number_of_days=7" loading="lazy">
          </div>
          <div class="tab-pane" id="m1{{ c.crypto }}">
              1 month
              <img src="/graph?crypto={{ c.crypto }}&fiat=EUR&number_of_days=30" loading="lazy">
          </div>
          <div class="tab-pane" id="m6{{ c.crypto }}">
              6 months
              <img src="/graph?crypto={{ c.crypto }}&fiat=EUR&number_of_days=180" loading="lazy">
          </div>
          <div class="tab-pane" id="y1{{ c.crypto }}">
              1 year
              <img src="/graph?crypto={{ c.crypto }}&fiat=EUR&number_of_days=360" loading="lazy">
          </div>
      </div>
    {% endif %}

    <br/>
    Google: <br/>
    <a href='https://www.google.com/search?channel=crow2&client=firefox-b-d&q={{ c.crypto }}+in+eur%3D' target='_blank'>{{ c.crypto }} in EUR</a><br/>
    <a href='https://www.google.com/search?channel=crow2&client=firefox-b-d&q={{ c.crypto }}+in+usd%3D' target='_blank'>{{ c.crypto }} in USD</a><br/>
  </div>

{% endfor %}

<br/><br/><br/>

<h3>Total wallet</h3>

Total investment: {{total_investment|floatformat:2}} EUR<br/>
Virtual value of wallet: {{current_value|floatformat:2}} EUR<br/>
Total tax free: {{total_tax_free|floatformat:2}} EUR<br/>

  
</div>
{% endblock %}
